* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/bg.jpg');
  background-repeat: repeat;
  background-size: 600px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.recorder{
  background-image: url('../public/bgb.jpg');
  background-size: 500px;
  background-position: 82px;
}
#playAll {
  background-image: url('../public/bg.jpg');
  background-size: 150px;
  background-position: 82px;
}
